body {
	margin: 0px;
}
#Introduction {
	color: #00FA9A;
	background-color: #000080;
	height: 500px;	
}
#tabSection {
	height: 100px;
	text-align: center;
}
#tabOne {
	width: 300px;
	height: 100px;
	background-color: green;
}
.tabOne {
	display: inline-block;
	text-decoration: none;
	background-color: red;
	height: 50px;
	width: 100px;
	padding: 10px 0px 10px 0px;
	position: absolute;
}
.tabOneCut {
	content: '';
	background-color: orange;
	width: 0px;
	height: 0px;
	position: relative;
    display: inline-block;
    border: 35px solid transparent;
    border-bottom: 35px solid red;
    border-right: 35px solid red;
    right: 70px;
}
.tabOne:after {
	content: '';
	background-color: orange;
	width: 0px;
	height: 0px;
	position: relative;
    display: inline-block;
    border: 35px solid transparent;
    border-top: 35px solid red;
    border-left: 35px solid red;
    left: 85px;
    bottom: 46px;
}
.tabTwo{
/*	display: inline-block;
	background-color: grey;
	height: 50px;
	width: 33%;
	padding: 10px 0px 10px 0px;*/
	display: none;
}
.tabThree{
/*	display: inline-block;
	background-color: green;
	height: 50px;
	width: 33%;
	padding: 10px 0px 10px 0px;*/
	display: none;
}
#wrapBox {
	display: flex;
}
.smallerBox {
	background-color: #F0F000;
	display: inline-block;
	height: 200px;
	width: 650px;
	text-align: center;
	/*margin: 50px;*/
}
.linkBox {
	margin: 80px 0px 0px 0px;
}
.linkButton:hover {
	background-color: orange;
	border-color: black;
	border: 1px solid;
	box-shadow: 5px;
	transition: 1s;
	padding-right: 100px;
}
.hidden {
	display: none;
}
.linkButton:hover .hidden {
	display: inline;
	opacity: .8;
	/*padding-right: 50px;*/
	transition: 1s;
	padding-right: 0px;
}
.linkButton {
	font-size: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: red;
	text-decoration: none;
}
.smallerBoxTwo {
	background-color:#FF8C00;
	float:right;
	height: 200px;
	width: 650px;
}
.smallerBoxTwoImage {
	border-radius: 10px;
	height: 180px;
	width: 300px;
	margin: 10px 0px 0px 170px;
}