body {
	margin: 0px;
}
#Introduction {
	color: #00FA9A;
	background-color: #000080;
	height: 500px;	
}
#tabSection {
	height: 70px;
	text-align: center;
	display: flex;
	background-color: #34495E;
}
.filler {
	width: 100px;
	background-color: #34495E;
}
.filler:before {
	content: '';
	background-color: #34495E;
	width: 0px;
	height: 0px;
	position: absolute;
    display: inline-block;
    border: 35px solid transparent;
    border-bottom: 35px solid #34495E;
    border-right: 35px solid #34495E;
    margin: 0px 0px 0px -80px;
    bottom: 106px;
}
/*.filler:after {
	content: '';
	background-color: orange;
	width: 0px;
	height: 0px;
	position: relative;
    display: inline-block;
    border: 35px solid transparent;
    border-top: 35px solid black;
    border-left: 35px solid grey;
    left: 85px;
    bottom: 28px;
    z-index: 1;
}*/
#tabOne {
	width: 300px;
	height: 70px;
	margin: 0px 0px 0px 50px;	
}
.tabOne {
	display: inline-block;
	text-decoration: none;
	background-color: #33FFB8;
	height: 50px;
	width: 100px;
	padding: 10px 0px 10px 0px;
}
.tabOne:hover {
	background-color: #FFC133;
	transition: 1s;
}
.tabOne:before {
	content: '';
	background-color: black;
	width: 0px;
	height: 0px;
	position: absolute;
    display: inline-block;
    border: 35px solid transparent;
    border-bottom: 35px solid #33FFB8;
    border-right: 35px solid #33FFB8;
    border-left: 35px solid #34495E;
    border-top: 35px solid #34495E;
    left: 80px;
    bottom: 106px;
}
.tabOne:hover::before {
	transition: 1s;
    border-bottom: 35px solid #FFC133;
    border-right: 35px solid #FFC133;
}
.tabOne:after {
	content: '';
	width: 0px;
	height: 0px;
	position: relative;
    display: inline-block;
    border: 35px solid transparent;
    border-top: 35px solid #33FFB8;
    border-left: 35px solid #33FFB8;
    left: 85px;
    bottom: 28px;
}
.tabOne:hover::after {
	transition: 1s;
    border-left: 35px solid #FFC133;
    border-top: 35px solid #FFC133;
}
#tabTwo {
	display: inline-block;
	height: 70px;
	width: 300px;
}
.tabTwo:hover {
	background-color: #FFC133;
	transition: 1s;
}
.tabTwo{
	display: inline-block;
	text-decoration: none;
	background-color: #33FFB8;
	height: 50px;
	width: 100px;
	padding: 10px 0px 10px 0px;
}
.tabTwo:before {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
    display: inline-block;
    border: 35px solid transparent;
    border-bottom: 35px solid #33FFB8;
    border-right: 35px solid #33FFB8;
    margin: 0px 0px 0px -88px;
    bottom: 106px;
}
.tabTwo:hover::before {
	transition: 1s;
    border-bottom: 35px solid #FFC133;
    border-right: 35px solid #FFC133;
}
.tabTwo:after {
	content: '';
	width: 0px;
	height: 0px;
	position: relative;
    display: inline-block;
    border: 35px solid transparent;
    border-top: 35px solid #33FFB8;
    border-left: 35px solid #33FFB8;
    left: 85px;
    bottom: 28px;
}
.tabTwo:hover::after {
	transition: 1s;
    border-left: 35px solid #FFC133;
    border-top: 35px solid #FFC133;
}
#tabThree{
	display: inline-block;
	height: 70px;
	width: 300px;
}
.tabThree:hover {
	background-color: #FFC133;
	transition: 1s;
}
.tabThree{
	display: inline-block;
	text-decoration: none;
	background-color: #33FFB8;
	height: 50px;
	width: 100px;
	padding: 10px 0px 10px 0px;
}
.tabThree:before {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
    display: inline-block;
    border: 35px solid transparent;
    border-bottom: 35px solid #33FFB8;
    border-right: 35px solid #33FFB8;
    margin: 0px 0px 0px -84px;
    bottom: 106px;
}
.tabThree:hover::before {
	transition: 1s;
    border-bottom: 35px solid #FFC133;
    border-right: 35px solid #FFC133;
}
.tabThree:after {
	content: '';
	width: 0px;
	height: 0px;
	position: relative;
    display: inline-block;
    border: 35px solid transparent;
    border-top: 35px solid #33FFB8;
    border-left: 35px solid #33FFB8;
    left: 85px;
    bottom: 28px;
}
.tabThree:hover::after {
	transition: 1s;
    border-left: 35px solid #FFC133;
    border-top: 35px solid #FFC133;
}
#tabPage {
	background-color: red;
	height: 500px;
	margin: -16px 0px 0px 0px;
}

.one {
	/*display: none;*/
}
.two {
	display: none;
}
.three {
	display: none;
}
#homeButton {
	background-color: grey;
	z-index: 1;
	height: 100px;
	position: fixed;
}
.homeButton {
	padding: 10px;
	border: 1px solid blue;
	position: fixed;
	bottom: 0;
	right: 10px;
}
/*----------------------------------------------------*/
#wrapBox {
	display: flex;
}
.smallerBox {
	background-color: #F0F000;
	display: inline-block;
	height: 200px;
	width: 650px;
	text-align: center;
	/*margin: 50px;*/
}
.linkBox {
	margin: 80px 0px 0px 0px;
}
.linkButton:hover {
	background-color: orange;
	border-color: black;
	border: 1px solid;
	box-shadow: 5px;
	transition: 1s;
	padding-right: 100px;
}
.hidden {
	display: none;
}
.linkButton:hover .hidden {
	display: inline;
	opacity: .8;
	/*padding-right: 50px;*/
	transition: 1s;
	padding-right: 0px;
}
.linkButton {
	font-size: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: red;
	text-decoration: none;
}
.smallerBoxTwo {
	background-color:#FF8C00;
	float:right;
	height: 200px;
	width: 650px;
}
.smallerBoxTwoImage {
	border-radius: 10px;
	height: 180px;
	width: 300px;
	margin: 10px 0px 0px 170px;
}