body {
	margin: 0px;
}
#Introduction {
	color: #00FA9A;
	background-color: #000080;
	height: 300px;	
}
#wrapBox {
	display: flex;
}
.smallerBox {
	background-color: #F0F000;
	display: inline-block;
	height: 200px;
	width: 650px;
	text-align: center;
}
.linkButton {
	font-size: 50px;
}
.smallerBoxTwo {
	background-color:#FF8C00;
	float:right;
	height: 200px;
	width: 650px;
}
.smallerBoxTwoImage {
	height: 180px;
	width: 300px;
	margin: 10px 0px 0px 170px;

}
#helpSources {
	color: #FF8C00;
	background-color: #000000;
}